Binaries
DerivedDataCache
Intermediate
Saved

Content/Collections
Content/Developers
Content/Geometry
Content/Mannequin
Content/Megascans
Content/MSPresets
Content/ThirdPerson
Content/ThirdPersonBP

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip
