Binaries
DerivedDataCache
Intermediate
Saved

Content/3rdPersonTemplate
Content/Collections
Content/Developers
Content/Geometry
Content/Light_Foliage
Content/Mannequin
Content/Megascans
Content/MSPresets
Content/PN_OpenWorldFoliage
Content/StarterContent
Content/TreePackBirch
Content/TreePackMaple
Content/TreePackPine
Content/ThirdPerson
Content/ThirdPersonBP

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip

PN_OpenWorldFoliage.png
