Binaries
DerivedDataCache
Intermediate
Saved

Content/KiteDemo
Content/Megascans
Content/MSPresets
Content/ProceduralNaturePack
Content/StarterContent
Content/PN_FoliageCollection
Content/PN_MeadowFlowers
Content/MS_DebrisV2
Content/MS_MossEss
Content/MS_SandsEss
Content/Weapon_Pack
Content/AnimalVarietyPack
Content/Mannequin
Content/ThirdPerson
Content/ThirdPersonBP
Content/Geometry

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip
